doctype html
html lang="en"
  head
    meta charset="utf-8" /
    title Janet Jeffus Resume
    link href="assets/node_modules/normalize.css/normalize.css" rel="stylesheet" /
    link href="assets/node_modules/paper-css/paper.css" rel="stylesheet" /
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"
    link href="assets/style.css" rel="stylesheet" /
    css:
      | @page { size: letter }
  body.letter
    section.sheet
      article
        div.header
          h1 Janet Jeffus
          h2 Senior Ruby on Rails Developer
        div.contact-info
          img.header-image src="assets/img/ruby-on-rails.png"
          // img.janet-image src="assets/img/janet.jpg"
          div.contact-header
            i class="fas fa-check-double"
            | OBJECTIVE
          p.objective
            | Striving for higher quality more efficient code, wiping out technical debt with better system design and innovative approaches to solve problems. I'm here because I'm passionate about technology and I love a challenge.
          div.contact-header
            i class="far fa-address-card"
            | ADDRESS
          p
            | 201 NW Walnut St
            br
            | Lee's Summit, MO 64063
          div.contact-header
            i class="fas fa-phone-square"
            | PHONE
          p
            a href="tel:+13109043836"
              | (310) 904-3836
          div.contact-header
            i class="fas fa-at"
            | EMAIL
          p
            a href="mailto:speak@jjeff.us"
              | speak@jjeff.us
          div.contact-header
            i class="fab fa-github"
            | GITHUB
          p
            a href="https://github.com/jjeffus"
              | jjeffus
          div.contact-header
            i class="fas fa-globe-americas"
            | WEBSITE
          p
            a href="http://jjeff.us"
              |  jjeff.us
    section.sheet
      article
